<% if @articles.any? %>
    <% @articles.each do |article| %>
    <div class="container d-flex justify-content-center align-items-center mb-5">
        <div class="card text-center w-50">
            <div class="card-header">
                by <%= link_to article.user.name, user_path(article.user) %>
            </div>
            <div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <% if article.categories.any? %>
                <%= render article.categories %>
                <% end %>
                <p class="card-text"><%= truncate(article.description, length: 120) %></p>
                <%= link_to "View", article_path(article), class: "btn btn-success" %>
                <% if logged_in? && (article.user == current_user || current_user.admin?) %>
                <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary" %>
                <%= link_to "Delete", article_path(article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
                <% end %>
            </div>
            <div class="card-footer text-muted">
                Created: <%= article.created_at.strftime("%B %d, %Y %I:%M %p") %> |
                Updated: <%= article.updated_at.strftime("%B %d, %Y %I:%M %p") %>
            </div>
        </div>
    </div>
    <% end %>
<% else %>
    <div class="container text-center my-5">
        <h3>No articles found</h3>
        <p><%= link_to "Create new article", new_article_path %></p>
    </div>
<% end %>